[Unit]
Description=Tunmand Daemon
After=network.target

[Service]
ExecStart=/usr/local/bin/tunmand
Restart=on-failure
RestartSec=2
Environment=PATH=/usr/local/bin/:%h/.local/bin:/usr/bin:/bin
WorkingDirectory=%h/.config/tunman

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
